div .cat-date-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    height: 2rem;
}

div .prize-container {
    display: flex;
    background-color: #E2A72E;
    text-align: center;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 7px 7px 2px black;
    justify-content: space-between;
    animation-name: card-animation;
    animation-duration: .4s;
}

.amount-number {}

.prize-container:hover {
    background-color: #f1d396;
}