.leftMenu-wrapper {
    background-color: var(--primary);
    width: 400px;
    height: 100%;
}

.selector-container {}

div>.selector-button {
    width: 100%;
    padding: 1rem;
    border-radius: 2px;
    border: 2px black solid;
    background-color: var(--black);
    color: white;
    cursor: pointer;
}

.selector-button:hover {
    border: 2px orangered solid;
}

.tags-wrapper {
    height: 500px;
}

div .tags-container {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

.tags {}

.filters-container {
    background: var(--gray);
    height: 100px;

}

.laureate-category {
    background: none;
    color: black;
    font-weight: bold;

}