div .leftMenu-wrapper {
    background-color: var(--primary);
    width: 400px;
    height: 100%;
    border-radius: 5px;
}


div>.selector-button {
    width: 100%;
    padding: 1rem;
    border-radius: 2px;
    border: 2px black solid;
    background-color: var(--black);
    color: white;
    cursor: pointer;
}

.selector-button:hover {
    border: 2px orangered solid;
}

.tags-wrapper {
    height: max-content;
}

div .tags-container {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

div .tags {
    color: var(--black);
}

.filters-container {
    background: var(--gray);
    border: white 2px solid;
    border-radius: 5px;
}

.laureate-category {
    background: none;
    color: black;
    font-weight: bold;

}

div .filterByYears {
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    font-weight: bold;
}

div .input-filter-container {
    justify-content: space-between;
}

.input-filter-container>input {
    background-color: var(--white);
    border: 1px var(--gray) solid;
    border-radius: 5px;
    padding: 0.3rem;
    text-align: center;
    color: black;
}

.input-filter-container>input::placeholder {
    color: gray;
}

div .search-button {
    font-weight: bold;
    margin-top: 0.5rem;
    border: 0px;
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--black);
}