.leftMenu-wrapper {
    background-color: var(--primary);
    width: 400px;
    height: 100%;
}

.selector-container {}

.selector-button {
    width: 100%;
    padding: 1rem 2rem;
}

.tags-wrapper {
    height: 500px;
}

div .tags-container {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

.tags {
    display: flex;
    padding: 0.5rem 1rem;
    background: var(--red);
    border-radius: 6px;
}

.filters-container {
    background: var(--gray);
    height: 100px;

}