div .results-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

div .card {
    height: 100%;
    padding: 1rem;
    padding-top: 0;
    background: var(--primary);
    justify-content: start;
    border-radius: 10px;
    border: 2px black solid;
    box-shadow: 7px 7px 2px black;
    font-weight: bold;

    animation-name: card-animation;
    animation-duration: .2s;
}


div .category-div {
    padding: 2px;
    font-weight: bold;
    border-radius: 0 0px 10px 10px;
    color: white;
}

.category-text {
    margin-top: .6rem;
    height: 1rem;
    font-size: 0.7rem;
}

.info-text {}

.name {}

.year {
    font-weight: normal;
}

.more-info-btn {
    background-color: #D44D27;
    color: var(--black);
    font-size: 0.7rem;
    box-shadow: inset -1px -1px 6px rgb(174, 28, 28);
    border: 1px black solid;
}