.App {
  background-image: url(https://cdn.discordapp.com/attachments/991460271677784234/1113331406156873748/evan.just.evan_the_guardians_of_the_valley_of_the_time_keepers__2dea7325-ab8b-4245-ab2a-2cea2b739a6b.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.window-section {
  background-color: var(--white);
  border-radius: 10px;
}

.window-container {}