@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Anuphan', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  --primary: #183e4b;
  --secondary: #eaeaea;
  --third: #1b4552;
  --gray: #8ba0a4;
  --red: #d74a49;
  --black: #131110;
  --white: #ffff;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}

.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px),
(min-width: 768px) {
  .rightSection-wrapper {
    overflow: hidden;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }

  .orangeText {
    font-size: 1.2rem;
  }
}

.button {
  font-weight: bold;
  color: #131110;
  padding: 0.6rem 1.4rem;
  background: var(--red);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: scale(0.97);
}

.button:active {
  background-color: #fe8300;
}

@keyframes card-animation {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}